<div data-hook="admin_product_form_giftwrap">
  <%= f.field_container :no_giftwrap do %>
    <%= f.label :no_giftwrap do %>
      <%= f.check_box :no_giftwrap %> <%= Spree.t(:disable_giftwrap) %>
    <% end %>
  <% end %>
</div>
